<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Us</h2>

      <!--
      <p style="font-size:18px">Marvelous Peach Capital is a venture capital focused exclusively on cryptocurrency and blockchain technologies, cofounded by F2Pool's Discus fish and Taiyi Capital.
      -->

      <p style="font-size:18px">Marvelous Peach is an investment capital focused exclusively on cryptocurrency and blockchain technologies, cofounded by F2Pool's Discus fish and Taiyi Capital.
      <br>
      <a href="https://www.f2pool.com/"> F2Pool </a> is one of the world's largest comprehensive mining pools and has obtained major share of hash rate in several crypto currencies. 
      <a href="http://www.taiyicap.com/">Taiyi Capital</a> is a leading financial service provider for A-share listed companies. Both founders lead us to deploy resources in crypto assets and traditional financial area. Our core team has rich experience and various types of expertise in cryptography, computer science, telecommunication, blockchain, private equity, M&A and entrepreneurship. </p>
      <!--
        We passionately believe that the blockchain <br>technology is the drive for global economy and society revolution.</p>
      -->


    </div>
  </div>
</section>
