<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Us</h2>



      <p>Marvelous Peach Capital is a venture capital focused exclusively on <br>cryptocurrency and blockchain technologies，
      <br>cofounded by F2Pool's Discus fish and Taiyi Capital.<p>
      <p><a href=""> F2Pool </a> is one of the world's largest comprehensive mining pools and has obtained major share of hash rate in several crypto currencies. 
      <br>
      <a href="">Taiyi Capital</a> is a leading financial service provider for A-share listed companies. Both founders lead us to deploy resources in crypto assets and traditional financial area. <br>
      Our core team has rich experience and various types of expertise in cryptography, computer science, telecommunication, blockchain, private equity, M&A and entrepreneurship. 
      We passionately believe that the blockchain <br>technology is the drive for global economy and society revolution.</p>




      <!--
        <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
        <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
        <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
      -->
    </div>
  </div>
</section>
