<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Us</h2>

            <p>Marvelous Peach Capital is an investment firm focused exclusively on ventures
            tokens and digital currency in both primary and secondary market</p>
            <p> Founder 
            <br>
            <span>Discus Fish & Taiyi Capital</span>
            </p>

            <p> Business 
            <br>
            <span>Exclusively focus on investing in blockchain technologies and digital assets.</span>
            </p>

            <p> Team
            <br>
            <span>Our core team has extensive experience in both traditional finance and emergent blockchain technology.</span>
            </p>

            <!--
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            -->
        </div>
    </div>
</section>
