<section id="contact" class="container content-section text-center" >
<!--section id="contact" class="container content-section text-center" style="background-color:#0a3047"-->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>contact</h2>
            <p style="font-size:18px">Feel free to contact us below. We’d love to hear from you.</p>
            <p style="font-size:18px">Phone: +86 (10) 5251 1500
            <br>
            <a href="mailto:info@marvelouspeach.com">info@marvelouspeach.com</a><p>

            <p>Where We Are：</p>
            <p style="font-size:18px">15th Floor, Tower C, Ocean Office Park,
            <br>
            5 Jinghuanan Street,
            <br>
            Chaoyang District, Beijing 100020</p>





            <!--
            <p>where we are</p>
            <p>15th floor, tower c, ocean office park<br>
            5 jinghuanan street<br>
            chaoyang district, beijing 100020</p>
            <p>tel: +86 (010) 51306838</p>
            <p><a href="mailto:info@marvelouspeach.com">info@marvelouspeach.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
            -->

        </div>
    </div>
</section>
