<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!--h1 class="brand-heading">Grayscale</h1-->

                    <img class="img-responsive center-block" src="/assets/grayscale/logo-m.svg"   >
                    <!--
                    <p class="intro-text">A free, responsive, one page Bootstrap theme.<br>Created by Start Bootstrap.</p>
                    <p class="intro-text">Marvelous Peach Capital is an investment firm focused exclusively on ventures<br> tokens and digital currency in both primary and secondary market</p>
                    -->

                    <p class="intro-text">A venture capital firm focused on protocol <br> decentralized applications <br> crypto currency of blockchain technologies.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
