<div id="map">

	    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3060.1797112634263!2d116.45293861550837!3d39.91499432942667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1acfd55d22613%3A0x30d02233d5d5a9fa!2z5YyX5Lqs5biC5pyd6Ziz5Yy65Zu96LS46L-c5rSLwrflhYnljY7lm73pmYVD5bqnIOmCruaUv-e8lueggTogMTAwMDI5!5e0!3m2!1szh-CN!2scn!4v1526020247018"></iframe>

    <br />
    <small>
        <a href="http://www.google.cn/maps/embed?pb=!1m18!1m12!1m3!1d3060.1797112634263!2d116.45293861550837!3d39.91499432942667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1acfd55d22613%3A0x30d02233d5d5a9fa!2z5YyX5Lqs5biC5pyd6Ziz5Yy65Zu96LS46L-c5rSLwrflhYnljY7lm73pmYVD5bqnIOmCruaUv-e8lueggTogMTAwMDI5!5e0!3m2!1szh-CN!2scn!4v1526020247018"></a>
    </small>
    </iframe>
</div>


